<div class="productcontainer">
    <div class="container-product" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md.sm="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="40">
            <mat-card *ngIf="product">
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{ product.name | uppercase }}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ product.image }}" />
                <mat-card-content>
                    <p>{{ product.desc }}</p>
                    <p>{{ product.price }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>